<h2>@ViewData["Title"]</h2>

<form method="post">
    <label>@ViewData["ResultCaption"]</label><br />
    <label>Введите новое имя для машины:</label><br />
    <input type="text" name="machineName" /><br /><br />
    <input type="submit" value="Изменить" />
</form>